<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
    <title>Stencil Component Starter</title>

    <script type="module" src="/build/stenciljs-example.esm.js"></script>
    <script nomodule src="/build/stenciljs-example.js"></script>
</head>

<body>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            font-family: sans-serif;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        /* poc-button.var-test {
            --color-background: red;
        } */
    </style>
    <!-- <poc-button class="var-test" variant="secondary" size="large">Secondary!</poc-button> -->

    <poc-inputfield [placeholder]="firstColumn" [clear]="clearValues" (inputValue)="setFirstColumnInput($event)"></poc-inputfield>
    <poc-inputfield [placeholder]="secondColumn" [clear]="clearValues" (inputValue)="setSecondColumnInput($event)"></poc-inputfield>
    <poc-inputfield [placeholder]="thirdColumn" [clear]="clearValues" (inputValue)="setThirdColumnInput($event)"></poc-inputfield>
    <poc-button class="var-test" variant="primary" size="medium" (btnClick)="insertIntoTable()">Submit</poc-button>

    <poc-table [data]="tableItems" [horizontalheaders]="horizontalHeaders" [verticalheaders]="verticalHeaders"></poc-table>

</body>

</html>