@use '../../../build/scss/_variables.scss';
$color-header-text: var(--color-header-text, variables.$color-base-text-white);
$color-background-header: var(--color-background-header, variables.$color-base-table-background-header);
$color-background-row: var(--color-background-row, variables.$color-base-table-background-row);
$border-radius: var(--color-radius, variables.$border-table-radius);
:host {
    display: block;
    margin-top: 2rem;
}

table,
.th-header,
.td-prop {
    border-collapse: collapse;
    border-radius: $border-radius;
    overflow: hidden;
}

.thead-blue {
    background-color: $color-background-header;
    opacity: 0.8;
    color: $color-header-text;
}

tbody tr.row-tint:nth-of-type(even) {
    background-color: $color-background-row;
}

.td-prop {
    padding: 10px;
}

.th-header {
    padding: 10px;
    min-width: 200px;
}